<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sample.social">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logoblack"
        android:label="MGLN Networks"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MGLNetworks.CheckConnectionByBroadCastReceiverClass.CheckConnection"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MGLNetworks.ActivityClass.ActivityMain"
            android:label="MGLN Networks" />
        <activity
            android:name=".MGLNetworks.ActivityClass.ActivityLogin"
            android:label="@string/title_activity_activity_login"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MGLNetworks.ActivityClass.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MGLNetworks.Loaders.CompanyDataLoaders$CompanyDetailActivity" />
        <activity android:name=".MGLNetworks.ActivityClass.DetailCompanyActivity" />
        <activity android:name=".MGLNetworks.ActivityClass.AppCrashActivity"></activity>
    </application>

</manifest>